@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&display=swap');
.Daialog {
    width: 431px;
    height: 600px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
}

.Dialog__Wrapper input {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    margin: 4px;
    border: 2px solid rgb(0, 217, 255);
    border-radius: 10px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 900;
    color: rgb(0, 217, 255);
}

.Dialog__Wrapper button {
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    margin: 4px;
    border: 2px solid rgb(0, 217, 255);
    border-radius: 10px;
    font-family: 'Encode Sans SC', sans-serif;
    font-weight: 900;
    color: rgb(0, 217, 255);
    cursor: pointer;
}
