.nav {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: #ffffff;
  left: 0;
  padding: 1.2rem 1.5rem 0;
  width: 70px;
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none;
}
.nav__container::-webkit-scrollbar {
  display: none;
}
.dropshipLogo {
  padding: 2px;
  margin-bottom: 43px;
  width: 24px;
  height: 21px;
}
.SidebarIcon__list span{
  border-bottom:912px solid black;
}

.SidebarIcon__list {
  color: #61d4df;
  cursor: pointer;
}

.SidebarIcon__list:hover {
  background-color: rgba(128, 128, 128, 0.03);
  border-left: 2px solid #61d4df;
  transition: 0.5s;
}

.profile {
  width: 100%;
  height: 100%;
  border: 2px solid #1bcdda;
  border-radius: 15px;
}

.nav__items {
  display: flex;
  flex-direction: column;
}

 .nav__items {
  row-gap: 1.8rem;
}
